:root {
  --purple: #68488e;
  --lilac: #936ae1;
  --kaki: #b2a6a1;
  --torquise: #4a9bb5;
  --mustad: #ffbd58;
  --pink: #ff66c5;
  --greyish: #c0c2c4;
  --light-bg: rgba(235,233,246,255);
}

.purple-bg { background-color: var(--purple); }
.pink-bg { background-color: var(--pink); }
.torquise-bg { background-color: var(--torquise); }
.kaki-bg { background-color: var(--kaki); }
.torquise-bg {background-color: var( --light-bg)}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#container { width:100%; }
header {padding: 80px 0  10px 0; }
.admin-login {
  justify-content: flex-end;
  font-style: italic;
}

.header-nav {
  justify-content: space-between;
  flex-wrap: wrap;
}

nav { height:80px; }



li { list-style: none; }
ul.nav-list li:not(:first-child) { margin-left: 10px; }

.profile { width:30%;}
.profile img { border-radius:10px; }
.profile-message { width:70%; }

div.resources > div {
 border-radius: 5px;
 margin-right: 20px;
 margin-bottom: 20px;
}

.footer-btn {
  font-size:1.3em;
  padding: 15px 10px;
  margin-bottom:20px;
  border: 1px solid white;
  background-color: transparent;
  justify-content: space-between;
}

.footer-ul { margin-bottom: 50px; }
.footer-ul li{ margin-bottom:20px; }

.flex-column { display: flex; flex-direction: column }
.flex-row { display: flex }
.wrap {flex-wrap: wrap;}

.margin-top-10 { margin-top: 10px;}
.margin-top-btm-70 {margin-top: 70px; margin-bottom:70px}
.margin-btm-10 {margin-bottom: 10px;}
.margin-btm-20 {margin-bottom: 60px;}
.margin-r {margin-right: 100px; }

/* ========== width variations ========= */
.percentage-width-80 { width:80%; }
.percentage-width-20 { width:20%}
.percentage-width-85 { width:85%; } 
.percentage-width-90 { width: 90%;}
.percentage-width-100 { width:100%; }
.percentage-width-33 {width:33%}

.relative-width-40 { width:45% }
.relative-width-25 { width:25%; }
.relative-width-20 { width:20%; }
.relative-width-50 { width:50%}
.relative-width-70 { width:80%}
.relative-width-30 { width:20%; }
.relative-width-40 {width:40%;}
.relative-width-60 {width:60%;}


.justify-space-btn { justify-content: space-between; }
.justify-left { justify-content: flex-end;}
.justify-center { justify-content: center; }
.gap-10 {gap:10px}

.initial-width-35 {flex-basis: 35%}
.initial-width-30 {flex-basis: 30%}


.outline { outline: 1px solid red; }

.purple-bg-color {background-color: var(--purple);}

/* === text ====*/
.greyish-text { color: var(--greyish);}
.white-text { color: white;}
.purple-text { color:  var(--purple)}
.kaki-text {color: var(--kaki)}
.bold-fonts {   font-weight: bold; }
.text-align-cntr {text-align:center}

.outline-black { outline: 1px solid black; }

.padding-top-btm-20 {padding-top:100px; padding-bottom:100px}
.padding-top-btm-30 {padding-top:30px; padding-bottom:30px}
.padding-lr-10 {padding-left: 10px; padding-right:10px;}
.padding-l-20 {padding-left: 50px;}
.padding-l-10 {padding-left:10px}
.padding-allsides-10 {padding:10px;}


.offset-top-space-40 { padding-top: 40px;}
.offset-padding-10 {padding:10px}
.exco-margin { margin-bottom: 40px;}
.padding-r-20 {padding-left: 20px;}
.margin-r-10 { margin-right:10px}

.footer-title { color: white;}

.cursor-pointer { cursor: pointer;}

.thick-boder-btm { border-bottom: 4px solid var(--greyish)}
.thick-border-btm-lilac { border-bottom: 4px solid var(--lilac)} /* var(--lilac) */
.border-left-purple {border-left: 2px solid var(--purple); padding-left:20px;}
.border-kaki {border: 1px solid var(--kaki)}


/* ====== image styles ======= */
img.list-style { width:10px; margin-right: 10px }
img.list-style-large { width:20px; }
img.list-style-larger { width:40px; }
img.nav-icons { width: 50px}
img.full-space {width:100%}
img.x-space {width:80%}
img.inline-icons-level-1 {height:50px;}
img.inline-icons-level-2 {height:120px;}


.profile-width-50 {  width:50px;}

.rounded-50 { border-radius: 50px;}
.border-radius-5 { border-radius: 5px;}


.space-around{ justify-content: space-around; }

li { cursor: pointer; }

.uppercase {text-transform: uppercase; }
.capitalize {text-transform: capitalize;}

.vertical-align-center { align-items: center;}
.flex-cntr-vtcl-align {align-items:center}

h1.level-1-headings {margin-bottom: 20px; color: var( --purple)}
h2.level-2-headings {color: var(--greyish); font-size: 1.2em}
h3.level-3-headings {font-size: .9em;}
h4 {text-align: center; padding-bottom: 10px; color:white}

div.carousel-div {
 padding-bottom: 30px;
 position: relative;
}

.slide { 
 height: 500px;
 font-weight: bold;
 font-size: 2em;
}





